Dictionary

- Dictionary is a mutable data type in python
- A python dictionary is a collection of key and value pairs separated by colon(:) and enclosed in curly braces {}.
-Keys must be unique in dictionary.
-Duplicate values are allowed

In [1]:
mydict={}
mydict

{}

In [2]:
mydict=dict()
mydict

{}

In [3]:
mydict={1:'one',2:'two',3:'three',4:'four'} # dictionary with integr keys
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [4]:
mydict=({1:'one',2:'two',3:'three',4:'four'})
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [6]:
mydcit={'A':'ONE','B':'TWO','C':'THREE','D':'FOUR'} #dictionary with character keys
mydcit

{'A': 'ONE', 'B': 'TWO', 'C': 'THREE', 'D': 'FOUR'}

In [7]:
mydict={1:'one',2:'two',3:'three',4:'four'} #dictionary with mixed keys
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [8]:
mydict1={'a':2.7,'b':"Python",'c':True,'d':2+6j}
mydict1

{'a': 2.7, 'b': 'Python', 'c': True, 'd': (2+6j)}

In [9]:
mydict.keys()

dict_keys([1, 2, 3, 4])

In [10]:
mydict.values()

dict_values(['one', 'two', 'three', 'four'])

In [11]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')])

In [13]:
mydict2={1:'one',2:'two','A':['venky','john','surya'],'B':('Bat','Ball','Wicket')}
mydict2

{1: 'one',
 2: 'two',
 'A': ['venky', 'john', 'surya'],
 'B': ('Bat', 'Ball', 'Wicket')}

In [14]:
mydict3={'Name':'Venky', 'Age':'26','Qualification':'MCA'}
mydict3

{'Name': 'Venky', 'Age': '26', 'Qualification': 'MCA'}

In [16]:
mydict3.keys()

dict_keys(['Name', 'Age', 'Qualification'])

In [17]:
mydict3.values()

dict_values(['Venky', '26', 'MCA'])

In [18]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')])

In [23]:
keys={'a','b','c','d'}
values=10
mydict3=dict.fromkeys(keys,values)
mydict3

{'c': 10, 'a': 10, 'b': 10, 'd': 10}

In [24]:
keys={'a','b','c','d'}
value=[10,20,30]
mydict3=dict.fromkeys(keys,value)
mydict3

{'c': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30], 'd': [10, 20, 30]}

In [25]:
value.append(40)
mydict3

{'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

Accessing items

In [27]:
mydict4={1:'one',2:'two',3:'three',4:'four'}
mydict4

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [28]:
mydict4[1]  #access item using key

'one'

In [32]:
mydict4[2]

'two'

In [33]:
mydict3

{'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

In [34]:
mydict3['c']

[10, 20, 30, 40]

In [36]:
mydict4.get(1)

'one'

In [37]:
mydict4.get(2)

'two'

In [38]:
mydict5={'Name':'Venky','ID':'R3154','DOB':1998,'Job':'Data Scientist'}
mydict5

{'Name': 'Venky', 'ID': 'R3154', 'DOB': 1998, 'Job': 'Data Scientist'}

In [39]:
mydict5['Name']

'Venky'

In [41]:
mydict5['ID']

'R3154'

In [43]:
mydict5['Job']

'Data Scientist'

Add, Remove & Change items

In [60]:
mydict6={'Name':'Venky','ID':24512, 'DOB':1998,'Address':'Warangal','Job':'Data Scientist'}
mydict6

{'Name': 'Venky',
 'ID': 24512,
 'DOB': 1998,
 'Address': 'Warangal',
 'Job': 'Data Scientist'}

In [61]:
mydict6['DOB']

1998

In [62]:
mydict6['DOB']=2000  #Changing dictionary items
mydict6['Address']='Hyderabad'
mydict6

{'Name': 'Venky',
 'ID': 24512,
 'DOB': 2000,
 'Address': 'Hyderabad',
 'Job': 'Data Scientist'}

In [63]:
dict1={'DOB':1995}
mydict6.update(dict1)
mydict6

{'Name': 'Venky',
 'ID': 24512,
 'DOB': 1995,
 'Address': 'Hyderabad',
 'Job': 'Data Scientist'}

In [64]:
mydict6

{'Name': 'Venky',
 'ID': 24512,
 'DOB': 1995,
 'Address': 'Hyderabad',
 'Job': 'Data Scientist'}

In [66]:
mydict6.pop('Job')

'Data Scientist'

In [67]:
mydict6

{'Name': 'Venky', 'ID': 24512, 'DOB': 1995, 'Address': 'Hyderabad'}

In [68]:
mydict6.popitem() #A random item is removed

('Address', 'Hyderabad')

In [69]:
mydict6

{'Name': 'Venky', 'ID': 24512, 'DOB': 1995}

In [70]:
mydict1

{'a': 2.7, 'b': 'Python', 'c': True, 'd': (2+6j)}

In [71]:
mydict1.clear()

In [73]:
mydict1

{}

In [74]:
del mydict1

In [75]:
mydict1

NameError: name 'mydict1' is not defined

Copy dictionary

In [76]:
mydict6

{'Name': 'Venky', 'ID': 24512, 'DOB': 1995}

In [78]:
dict1={'Address':'Hyderabad'}
mydict6.update(dict1)
mydict6

{'Name': 'Venky', 'ID': 24512, 'DOB': 1995, 'Address': 'Hyderabad'}

In [79]:
mydict1=mydict6

In [80]:
mydict1

{'Name': 'Venky', 'ID': 24512, 'DOB': 1995, 'Address': 'Hyderabad'}

In [87]:
mydict6

{'Name': 'Venky', 'ID': 24512, 'DOB': 1995, 'Address': 'Mumbai'}

In [88]:
mydict1==mydict6

True

In [89]:
id(mydict1), id(mydict6)

(1862822070336, 1862822070336)

In [90]:
mydict6['Address']='Mumbai'
mydict6

{'Name': 'Venky', 'ID': 24512, 'DOB': 1995, 'Address': 'Mumbai'}

In [92]:
mydict1['Address']='Hyderabad'
mydict1

{'Name': 'Venky', 'ID': 24512, 'DOB': 1995, 'Address': 'Hyderabad'}

In [93]:
mydict6

{'Name': 'Venky', 'ID': 24512, 'DOB': 1995, 'Address': 'Hyderabad'}

Loop through a Dictionary

In [99]:
mydict1={'Name': 'Venky', 'ID': 24512, 'DOB': 1995, 'Address': 'Hyderabad', 'Job':'Data Scientist'}
mydict1

{'Name': 'Venky',
 'ID': 24512,
 'DOB': 1995,
 'Address': 'Hyderabad',
 'Job': 'Data Scientist'}

In [100]:
for i in mydict1:
    print(i)

Name
ID
DOB
Address
Job

In [101]:
for i in mydict1:
    print(i, ':',mydict1[i])   #key and value pair

Name : Venky
ID : 24512
DOB : 1995
Address : Hyderabad
Job : Data Scientist

In [102]:
for i in mydict1:
    print(mydict1[i])   #dictionary items

Venky
24512
1995
Hyderabad
Data Scientist

Dictionary Membership

In [108]:
mydict7={'Name': 'Venky', 'ID': 'R3154', 'DOB': 1998, 'Job': 'Data Scientist'}
mydict7

{'Name': 'Venky', 'ID': 'R3154', 'DOB': 1998, 'Job': 'Data Scientist'}

In [109]:
'Name' in mydict7

True

In [111]:
'Venky' in mydict7

False

In [112]:
'ID' in mydict7

True

In [113]:
'Address' in mydict7

False

All/Any

The all() method returns:
-True: If all keys of the dictionary are true
-False: If any key of the dictionary is false

In [115]:
mydict7={'Name': 'Venky', 'ID': 'R3154', 'DOB': 1998, 'Job': 'Data Scientist'}
mydict7

{'Name': 'Venky', 'ID': 'R3154', 'DOB': 1998, 'Job': 'Data Scientist'}

In [116]:
all(mydict7) #WIll return false as one value is false(value0)

True

In [117]:
any(mydict7)

True

In [118]:
mydict8={'Name': 'Venky', 'ID': 'R3154', 'DOB': 1998, 'Job': 'Data Scientist','Bool':False}
mydict8

{'Name': 'Venky',
 'ID': 'R3154',
 'DOB': 1998,
 'Job': 'Data Scientist',
 'Bool': False}

In [119]:
all(mydict8)

True

In [120]:
any(mydict8)

True