List

List is an ordered sequence of items
We can have different data types under a list like we have integer,float and string items in a list

In [3]:
#List creation
l1=[] #empty List

In [4]:
print(type(l1))

<class 'list'>

In [5]:
l2=[5,10,15,20] #list of integer numbers
l3=[4.5,6.8,4.8,7.9]  #list of float numbers
print(l2)
print(l3)

[5, 10, 15, 20]
[4.5, 6.8, 4.8, 7.9]

In [6]:
l4=['apple','banana','grapes','mango']  #list of string
l4

['apple', 'banana', 'grapes', 'mango']

In [7]:
l5=['Venky',10,[30,60],[100,200]]  #nested list
l5

['Venky', 10, [30, 60], [100, 200]]

In [8]:
l6=[100,'Venky',20.45] #list of mixed data types
l6

[100, 'Venky', 20.45]

In [9]:
l7=['Venky',98,75.5,[10,20],[20,40],{'Karthik','Venky'}]
l7

['Venky', 98, 75.5, [10, 20], [20, 40], {'Karthik', 'Venky'}]

In [10]:
len(l7)

6

List allows a string,integer,float
It allows multiple data types in a single list

List Indexing

In [11]:
l2

[5, 10, 15, 20]

In [12]:
l2[0]

5

In [13]:
l3[2]

4.8

In [14]:
l2[3]

20

In [15]:
l4[1]

'banana'

In [16]:
l5[2]

[30, 60]

In [17]:
l2[-1]

20

In [18]:
l4

['apple', 'banana', 'grapes', 'mango']

In [19]:
l5

['Venky', 10, [30, 60], [100, 200]]

In [20]:
l5[0][0]

'V'

In [21]:
l5[2][0]

30

In [22]:
l5[-1]

[100, 200]

In [23]:
l6[-1]

20.45

In [24]:
l3

[4.5, 6.8, 4.8, 7.9]

In [25]:
l3[0:2]

[4.5, 6.8]

In [26]:
l4

['apple', 'banana', 'grapes', 'mango']

In [27]:
l5

['Venky', 10, [30, 60], [100, 200]]

In [28]:
l5[1:3]

[10, [30, 60]]

In [29]:
l5[1:2]

[10]

In [30]:
l5[1:4]

[10, [30, 60], [100, 200]]

In [31]:
l5[:]

['Venky', 10, [30, 60], [100, 200]]

In [32]:
l5[1:]

[10, [30, 60], [100, 200]]

In [33]:
l5[:3]

['Venky', 10, [30, 60]]

In [34]:
l5[-1]

[100, 200]

In [35]:
l5[-1]

[100, 200]

In [36]:
l5[-3:]

[10, [30, 60], [100, 200]]

In [37]:
l5[-1:]

[[100, 200]]

In [38]:
l5[:-3]

['Venky']

In [39]:
l5

['Venky', 10, [30, 60], [100, 200]]

Add,remove and change Items

In [40]:
l1

[]

In [41]:
l2

[5, 10, 15, 20]

In [42]:
l8=['zero','one','two','three','four','five','six','seven','eight','nine']
l8

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine']

In [43]:
l8.append(10) #append() function will append the value at the end of the list

In [44]:
l8

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 10]

In [45]:
l8.insert(8,'Venky')
l8

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'Venky',
 'eight',
 'nine',
 10]

In [46]:
l8.insert(2,100)
l8

['zero',
 'one',
 100,
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'Venky',
 'eight',
 'nine',
 10]

In [47]:
l8.insert(5,'@venky') #insert() requires 2 parameters one is index another is value
l8

['zero',
 'one',
 100,
 'two',
 'three',
 '@venky',
 'four',
 'five',
 'six',
 'seven',
 'Venky',
 'eight',
 'nine',
 10]

In [48]:
l8.remove('zero') #remove() will remove the selected value from the lsit
l8

['one',
 100,
 'two',
 'three',
 '@venky',
 'four',
 'five',
 'six',
 'seven',
 'Venky',
 'eight',
 'nine',
 10]

In [49]:
l8.pop() #pop() will remove the last element of the list

10

In [50]:
l8

['one',
 100,
 'two',
 'three',
 '@venky',
 'four',
 'five',
 'six',
 'seven',
 'Venky',
 'eight',
 'nine']

In [51]:
l8.pop(13)

IndexError: pop index out of range

In [52]:
l8

['one',
 100,
 'two',
 'three',
 '@venky',
 'four',
 'five',
 'six',
 'seven',
 'Venky',
 'eight',
 'nine']

In [53]:
del l8[5] #when we use delete function(del) we have to pass paramaeter within square brackets
l8

['one',
 100,
 'two',
 'three',
 '@venky',
 'five',
 'six',
 'seven',
 'Venky',
 'eight',
 'nine']

In [54]:
del l8(5) #if we call a function within normal braces it will show error:cannot delete function call
l8

SyntaxError: cannot delete function call (971061213.py, line 1)

In [55]:
#Change the value of the list
l8[0]=1
l8[1]=2
l8[2]=3
l8

[1, 2, 3, 'three', '@venky', 'five', 'six', 'seven', 'Venky', 'eight', 'nine']

In [56]:
l8.clear() #clear() function will delete all items in the list

In [57]:
l8

[]

In [58]:
del l8
l8

NameError: name 'l8' is not defined

Copy List

In [59]:
l9=['one','two','three','four','five','six','seven']
l9

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [60]:
l10=l9

In [61]:
l10

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [62]:
id(l9),id(l10)

(2420977110656, 2420977110656)

In [63]:
l11=l9.copy() #Create copy of the list
l11

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [64]:
id(l11)

2420977026176

In [65]:
id(l10)

2420977110656

In [66]:
l9[0]=1

In [67]:
l9

[1, 'two', 'three', 'four', 'five', 'six', 'seven']

In [68]:
l10

[1, 'two', 'three', 'four', 'five', 'six', 'seven']

In [69]:
l11

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

Join Lists

In [70]:
list1=['one','two','three']
list2=['four','five','six']
list3=list1+list2
list3

['one', 'two', 'three', 'four', 'five', 'six']

In [71]:
list1.extend(list2)
list1

['one', 'two', 'three', 'four', 'five', 'six']

In [72]:
list1.extend(list2)
list1

['one', 'two', 'three', 'four', 'five', 'six', 'four', 'five', 'six']

In [73]:
list2.extend(list1)
list2

['four',
 'five',
 'six',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'four',
 'five',
 'six']

List Memebrship

In [74]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'four', 'five', 'six']

In [75]:
lm=['one','two','three','four']
lm

['one', 'two', 'three', 'four']

In [76]:
'one' in lm

True

In [77]:
'one' not in lm

False

In [78]:
'five' in lm

False

In [79]:
if 'three' in lm:
    print("Three is present in list")
else:
    print("Three is not present in list")

Three is present in list

In [80]:
if "five" in lm:
    print("Five is present in the list")
else:
    print("Five is not present in the list")

Five is not present in the list

Reverse and Sort List

In [81]:
lm

['one', 'two', 'three', 'four']

In [82]:
lm.reverse()
lm

['four', 'three', 'two', 'one']

In [83]:
lm[::-1]

['one', 'two', 'three', 'four']

In [84]:
lm.reverse()
lm

['one', 'two', 'three', 'four']

In [85]:
l6

[100, 'Venky', 20.45]

In [86]:
l6.reverse()
l6

[20.45, 'Venky', 100]

In [87]:
l6[::-1]

[100, 'Venky', 20.45]

In [88]:
lm

['one', 'two', 'three', 'four']

In [89]:
lm.sort()
lm

['four', 'one', 'three', 'two']

In [90]:
lr=[9,7,6,15,42,66,23,15,2,49,3]
lr

[9, 7, 6, 15, 42, 66, 23, 15, 2, 49, 3]

In [91]:
lr.reverse()
lr

[3, 49, 2, 15, 23, 66, 42, 15, 6, 7, 9]

In [92]:
lr.sort()
lr

[2, 3, 6, 7, 9, 15, 15, 23, 42, 49, 66]

In [93]:
lr.reverse()
lr

[66, 49, 42, 23, 15, 15, 9, 7, 6, 3, 2]

In [94]:
lr.sort(reverse=True)
lr

[66, 49, 42, 23, 15, 15, 9, 7, 6, 3, 2]

In [95]:
lr1=[9,7,6,15,42,66,23,15,2,49,3]
lr1.sort(reverse=True)
lr1

[66, 49, 42, 23, 15, 15, 9, 7, 6, 3, 2]

In [96]:
lr2=[76,42,45,50,37,90]
sorted(lr2) #returns new sorted list and doesn't change original list

[37, 42, 45, 50, 76, 90]

In [97]:
lr2

[76, 42, 45, 50, 37, 90]

Loop through a list

In [98]:
lt=[2,4,6,7,9,14,23]
lt

[2, 4, 6, 7, 9, 14, 23]

In [99]:
for i in lt:
    print(i)

2
4
6
7
9
14
23

In [100]:
for i in enumerate(lt):
    print(i)

(0, 2)
(1, 4)
(2, 6)
(3, 7)
(4, 9)
(5, 14)
(6, 23)

Count

In [101]:
lc=[1,2,5,4,8,1,2,5,7,9,9,7]
lc.count(1)

2

In [102]:
lc.count(9)

2

In [103]:
lc.count(2)

2

In [104]:
lc1=['a','b','c','d','a','b','c','d','a','b','e']
lc1.count('a')

3

All/Any
The all() method returns:
    True-If all statements in a list are true
    False-If any element in a list is false
Tha any() function returns True if any element in the list is True. If not, any() returns False

In [105]:
L1=[1,2,3,4,5,0,6]
all(L1)

False

In [106]:
any(L1)

True

In [107]:
L2=[1,2,3,4,True,False]
all(L2)

False

In [108]:
any(L2)

True

In [109]:
L3=[1,2,3,4,True]
any(L3)

True

In [110]:
all(L3)

True

In [111]:
L4=[ ]
any(L4)

False