Tuple

In [2]:
t=()
t

()

In [3]:
t1=tuple()
t1

()

In [4]:
t1=(10,20,30,40,50)
t1

(10, 20, 30, 40, 50)

In [5]:
t1[0]

10

In [6]:
t1[0]=100
t1

TypeError: 'tuple' object does not support item assignment

In [7]:
t2=(10,2.5,'nit',True,1+2j)
t2

(10, 2.5, 'nit', True, (1+2j))

In [8]:
t2.len()

AttributeError: 'tuple' object has no attribute 'len'

In [9]:
t2.count(2.5)

1

In [10]:
t2.index(2.5)

1

In [11]:
t2.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [12]:
t2

(10, 2.5, 'nit', True, (1+2j))

In [13]:
t2[:]

(10, 2.5, 'nit', True, (1+2j))

In [14]:
t

()

In [15]:
t2

(10, 2.5, 'nit', True, (1+2j))

In [16]:
t1

(10, 20, 30, 40, 50)

In [17]:
for i in t1:
    print(i)

10
20
30
40
50

In [18]:
for i in enumerate(t2):
    print(i)

(0, 10)
(1, 2.5)
(2, 'nit')
(3, True)
(4, (1+2j))

In [19]:
for i in enumerate(t2):
    print(t2)

(10, 2.5, 'nit', True, (1+2j))
(10, 2.5, 'nit', True, (1+2j))
(10, 2.5, 'nit', True, (1+2j))
(10, 2.5, 'nit', True, (1+2j))
(10, 2.5, 'nit', True, (1+2j))

t

In [20]:
t1

(10, 20, 30, 40, 50)

In [21]:
t2

(10, 2.5, 'nit', True, (1+2j))

In [22]:
t1.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [23]:
t1.remove()

AttributeError: 'tuple' object has no attribute 'remove'

In [24]:
t1

(10, 20, 30, 40, 50)

In [25]:
t3=t1*2
t3

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [26]:
t4=(3,56,100,6,53)
t4.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [27]:
sorted(t4)

[3, 6, 53, 56, 100]

In [28]:
sorted(t4,reverse=True)

[100, 56, 53, 6, 3]

In [29]:
t1

(10, 20, 30, 40, 50)

In [30]:
t5=(10,10,20)
t5

(10, 10, 20)

In [34]:
del t5

NameError: name 't5' is not defined

In [35]:
del t4

In [36]:
t4

NameError: name 't4' is not defined