Tuple creation

In [1]:
tup1=()

In [4]:
tup2=(10,30,60)   #tuple of int numbers
tup2

(10, 30, 60)

In [5]:
tup3=(10.77,30.66,60.89)   #tuple of float numbers
tup3

(10.77, 30.66, 60.89)

In [12]:
tup4=('one','two','three','four')   #tuple of string
tup4

('one', 'two', 'three', 'four')

In [13]:
tup5=('Asif',25,5.7,1+2j,True)
tup5

('Asif', 25, 5.7, (1+2j), True)

In [14]:
tup6=(100,"Venky",(50,100),(75,25))  #nested loops
tup6

(100, 'Venky', (50, 100), (75, 25))

In [17]:
tup7=("Venky",25,{"john","Dvid"},(99,22,33))  #tuple of mixed dta type
tup7

('Venky', 25, {'Dvid', 'john'}, (99, 22, 33))

In [18]:
len(tup7)

4

Tuple Indexing

In [23]:
tup2[0]  #Retrieve first element of the tuple

10

In [20]:
tup4[0] #Retrieve first element of the tuple

'one'

In [22]:
tup4[0][0] #Nested indexing- Access the first character of the first tuple element

'o'

In [25]:
tup4[-1] #last element of the tuple

'four'

In [32]:
tup4

('one', 'two', 'three', 'four')

In [30]:
#Nested indexingFirst, we define the index of the tuple, then we define the index within the element.
tup4[2][1]

'h'

In [33]:
tup4[3][3]

'r'

In [35]:
tup5

('Asif', 25, 5.7, (1+2j), True)

In [36]:
tup5[-1]

True

In [37]:
tup5[3]

(1+2j)

Tuple slicing

In [38]:
mytuple=('one','two','three','four','five','six','seven','eight')

In [40]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [41]:
mytuple[0:3]  #returns all items from 0th to 3rd indexing the item

('one', 'two', 'three')

In [42]:
mytuple[2:] #returns 2nd element to last element

('three', 'four', 'five', 'six', 'seven', 'eight')

In [43]:
mytuple[:4] # returns firts four items

('one', 'two', 'three', 'four')

In [44]:
mytuple[:10] #it returns complete tuple even if we declare out of range in slicing

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [45]:
mytuple[-1:] #returns last item

('eight',)

In [46]:
mytuple[:-1] #Returns except last item

('one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [47]:
mytuple[-2:] #returns last 2 items

('seven', 'eight')

In [48]:
mytuple[-4:-1] #return last 3 items

('five', 'six', 'seven')

In [49]:
mytuple[:]  #return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

Remove and Change items

In [50]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [52]:
del mytuple[0] #tuples are immutable which means can't delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [53]:
mytuple.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [54]:
mytuple.remove()

AttributeError: 'tuple' object has no attribute 'remove'

In [56]:
mytuple[0]=1  #Tuples are immutable which means we can't change tuple items

TypeError: 'tuple' object does not support item assignment

In [58]:
del mytuple #Deleting entire tuple object is possible

NameError: name 'mytuple' is not defined

In [59]:
mytuple1=('hi','hello','how are you')
mytuple1

('hi', 'hello', 'how are you')

In [60]:
del mytuple1

Loop throgh a tuple

In [63]:
mytuple=('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [64]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [65]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [66]:
for i in mytuple:
    print(mytuple)

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [67]:
for i in enumerate(mytuple):
    print(mytuple)

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

Tuple Memebership

In [68]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [70]:
'one' in mytuple  #check if 'one' exist in the list

True

In [71]:
'ten' in mytuple

False

In [72]:
'ten' not in mytuple

True

In [73]:
'one' in mytuple

True

In [76]:
'five' in mytuple

True

'three' in mytuple

In [80]:
'three' not in mytuple

False

In [74]:
if 'three' in mytuple:
    print("Three is present in the tuple")
else:
    print("Three is not present in the tuple")

Three is present in the tuple

In [75]:
if 'eleven' in mytuple:
    print("eleven is present in the tuple")
else:
    print("eleven is not present in the tuple")

eleven is not present in the tuple

Index Position

In [82]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [83]:
mytuple.index('one')

0

In [84]:
mytuple.index('five')

4

In [85]:
mytuple.index('eight')

7

Sorting

In [87]:
mytuple2=(43,67,99,12,6,90,67)

In [88]:
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [90]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [91]:
mytuple3=(45,92,33,81,10,24,6,7,99,57)
mytuple3

(45, 92, 33, 81, 10, 24, 6, 7, 99, 57)

In [92]:
sorted(mytuple3)

[6, 7, 10, 24, 33, 45, 57, 81, 92, 99]

In [93]:
l=[32,45,78,95,55,60]
l

[32, 45, 78, 95, 55, 60]

In [94]:
type(l)

list

In [95]:
type(mytuple3)

tuple

In [96]:
print(type(mytuple3))

<class 'tuple'>

In [97]:
id(mytuple3)

2647824156480

In [98]:
id(mytuple3[6])  #it retrieves the address of 6th index element from the mytuple3

140721873959512